
.body{
    background-image: url(https://external-preview.redd.it/whatsapp-background-v0-rEwFriCkfAtjOb5b-23b4tGGVcuvfaBqamYNJrgxnLM.png?auto=webp&s=9f379f31f38f4ccee6165002b058adfb47e70c8c
);
}
#div1{
    background-color: black;
    text-align: center;
    border-radius: 20px;
    
}
#div2{
    opacity:px;
    text-align: center;
    border-radius: 20px;
    font-size: 100px;
 
}


#div3{
    background-color: white;
    text-align: center;
    border-radius: 20px;
}
.qrcode{
    
   border-radius: 10px;
    height: 150px;
    width: 150px;
       
}

.p{
    font-size: 30px;
    color: white;
}
.button{
    border-radius: 50px;
}
#h4{
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}
#h4-1{
    background-color: rgb(214, 214, 214);
}
#div1-2{
    text-align: center;
}
#a1{
    text-decoration: none;
    color: black;
}