.body{
    
    background-image: url(https://www.gamewallpapers.com/wallpapers_slechte_compressie/wallpaper_warframe_01_1920x1080.jpg) ;
background-repeat: no-repeat;
}
#div1{
background-color: black;
text-align: center;
border-radius: 10px;
height: 60px;

}

#projetos{
    color: white;
    text-decoration: none;
  font-size: 50px;
   transition: 1s;
}

#sobre{    
    font-size: 50px;
    color: white;
    text-decoration: none;
    transition: 1s;
   
}

#contatos{
    color: white;
    text-decoration: none;
  font-size: 50px;
  transition: 1s;
   
}
#sobre:hover{
   color: blue;
   
 animation: crescerEVoltar 2s ease-in-out infinite alternate;
}

@keyframes crescerEVoltar {
  0% {
    font-size: 50px; 
    opacity: 1s;
  }
  50%{ font-size: 40px; 
    opacity: 1;}
  100% {
    font-size: 50px; 
    opacity: 1;
  }
 
}
#contatos:hover{
    color: blue;
   
 animation: crescerEVoltar 2s ease-in-out infinite alternate;
}

@keyframes crescerEVoltar {
  0% {
    font-size: 50px; 
    opacity: 1s;
  }
  50%{ font-size: 40px; 
    opacity: 1;}
  100% {
    font-size: 50px; 
    opacity: 1;
  }
 
  }

#projetos:hover{
    color: blue;
 animation: crescerEVoltar 2s ease-in-out infinite alternate;
}

@keyframes crescerEVoltar {
  0% {
    font-size: 50px; 
    opacity: 1s;
  }
  50%{ font-size: 40px; 
    opacity: 1;}
  100% {
    font-size: 50px; 
    opacity: 1;
  }

}
#div2{
    height: 130px;
    font-size: 50px;
    background-color: rgb(30, 103, 204 0.3) ;
    border-radius: 10px; 
}
#div2:hover{
    background-color:  rgb(30, 103, 204);
    transition: 1s;
}
#div3{
    background-color: rgb(30, 103, 204 0.3);
    height: 540px;
    border-radius: 10px; 
}
#div3:hover{
    transition: 0.5s;
    animation-name: transição;
     background-color: rgb(30, 103, 204);
}
#footer{
    background-color: rgb(253, 253, 253);
    border-radius: 10px;
}
#a1{
    text-decoration: none;
    color: black;
}
#index:hover{
   color: blue;
   
 animation: crescerEVoltar 2s ease-in-out infinite alternate;
}

@keyframes crescerEVoltar {
  0% {
    font-size: 50px; 
    opacity: 1s;
  }
  50%{ font-size: 40px; 
    opacity: 1;}
  100% {
    font-size: 50px; 
    opacity: 1;
  }
 
}
#index1{    
    font-size: 50px;
    color: rgb(255, 226, 226);
    text-decoration: none;
    transition: 1s;
   
}